.DS_Store
.vscode/
.idea/
*.iml
*.o
*.so
*.log
*.ap_
*.zip
*.gz
*.swp
*.lock
*.out
*.bak
*.pyc
*.class
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/Runner.xcodeproj/project.xcworkspace/xcuserdata/
ios/Runner.xcodeproj/xcuserdata/
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
package_config.json
pubspec.lock